$bg-gray: #383b43; // Mega dark
$bg-default: #fff; // White
$red: #fe0002; // Red
$ultralight-gray: #F5F5F5;// Ultra light dark
$light-gray: #cdced0; // Light dark
$middle-gray: #999; // Darker than light dark
$gray: #676767; // Darker than middle dark gray
$dark-gray: #1a1a18; // Dark gray

$light-blue: #d4e7f7; // Light blue
$light-green: #ccffcc; //#52d552; // Light green
$light-red: #ffdacc; // #f95050; // Light red

$linkColor: #039bbb;